# Data manipulation and analysis
numpy
pandas

# Image processing
opencv-python
pillow

# Scientific computing and visualization
matplotlib
scikit-learn
einops
nibabel

# Deep learning
torch
torchvision

# Utilities
tqdm
psutil
ipython

# Testing
pytest